<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbb3dc">  <td>22/08/03 02:11:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CounterUT.test1()[pri:0, instance:tests.CounterUT@13c10b87]">test1</td> 
  <td>main@2005733474</td>   <td></td> </tr>
<tr bgcolor="bbb3dc">  <td>22/08/03 02:11:04</td>   <td>151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CounterUT.test2()[pri:0, instance:tests.CounterUT@13c10b87]">test2</td> 
  <td>main@2005733474</td>   <td></td> </tr>
</table>
